# =========================================
# Application
# =========================================
PORT=
NODE_ENV=
SHOW_ENV=

# =========================================
# Database
# =========================================
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# PostgreSQL connection string
DATABASE_URL=
DB_URL=

# =========================================
# Logging
# =========================================
LOG_LEVEL=

# =========================================
# Docker / PostgreSQL
# =========================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


# Algunas recomendaciones importantes:

# *NODE_ENV: development | production | test
# *SHOW_ENV 
#     Útil para imprimir variables de entorno al iniciar la app. 
#     En producción normalmente sería false.

# *LOG_LEVEL
# Valores comunes:
#     error
#     warn
#     info
#     debug

# *DATABASE_URL
# En PostgreSQL el formato estándar es: 
#     postgresql://USER:PASSWORD@HOST:PORT/DATABASE