# =========================================
# SERVER
# =========================================
PORT=3000
NODE_ENV=local
SHOW_ENV=true

# =========================================
# DATABASE - POSTGRESQL
# =========================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=aliados360

# =========================================
# LOGGING
# =========================================
LOG_LEVEL=info

# =========================================
# CONNECTION STRING
# =========================================
DB_URL=postgresql://postgres:postgres@localhost:5432/aliados360


# Algunas recomendaciones importantes:

# *NODE_ENV: development | production | test
# *SHOW_ENV 
#     Útil para imprimir variables de entorno al iniciar la app. 
#     En producción normalmente sería false.

# *LOG_LEVEL
# Valores comunes:
#     error
#     warn
#     info
#     debug

# *DATABASE_URL
# En PostgreSQL el formato estándar es: 
#     postgresql://USER:PASSWORD@HOST:PORT/DATABASE